nav {
    background-color: #7d1919;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
  }
 
  
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #f9e7cf;
  }
   .img-logo{
    height: 50px;
    width: 50px;
    border-radius: 60px;
   }

   .name-logo {
    margin: 0%;
    display: none;
   }

   .name-logo img {
       margin: 0%;
      display: flex;
      width: 600px;
      height: 300PX;
      
       

   }
  
  .nav-links {
    display: flex;
    gap: 20px; /*espacio entre elementos  hijos */
  }
  
  .nav-links a {
    color: #f9e7cf;
    text-decoration: none;
    transition: all 300ms ease;
  }
   
  .nav-links a:hover{
    color: #ba3737;
  }

 h1 {
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    font-size: 50px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 0%;
 }

.caja_contacto { 
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9e7cf;
    border-radius: 10px;
    box-shadow: 0 0 10px #ba3737;
}

.caja_contacto h2{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.caja_contacto label {
    color: #ba3737;
    display: block;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
}

.caja_contacto input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    margin-left:30px;
    border-radius: 5px;
    border: 1px solid #000;
}

.boton-reserva {
    display: flex;
    margin-top: 15px;
    margin-left: 17px;
    width: 80%;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ba3737;
    color: #f9e7cf;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }

.boton-reserva a:hover {
    background-color: #7d1919;
}

#ventana_de_reserva {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#ventana_de_reserva:target {
    display: flex;
}

#reserva_confirmada {
    background-color: #fddfdf;
      padding: 30px;
      border-radius: 15px;
      text-align: center;
      max-width: 300px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#reserva_confirmada a {
    display:block;
    margin-top:10px;
    color:#A31D1D; 
    text-decoration:none;
    font-weight:bold;
}

.pie_de_pagina {
    width: 100%;
    background-color: #7d1919;
    color:#fff
  }
  
  .pie_de_pagina .caja_1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 45px 0px;
  }
  
  
  .pie_de_pagina .caja_1 .box {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
   .pie_de_pagina .caja_1 .box  img {
    width: 150px;
  }
  .caja_1 .box:first-child {
    align-items: flex-start;
    text-align: left;
  }
  .caja_1 .box:nth-child(2){
    align-items: center;
    text-align: center;
  }
  .caja_1.box:last-child {
    align-items: flex-end;
    text-align: right;
  }
  
  .caja_1 .red_social a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color: #ba3737;
    text-align: center;
    transition: all 300ms ease;
  
  }
  
  .caja_1 .red_social a:hover{
    color: #ec6089 ;
  }
  
  .caja_2 {
    background-color: #ba3737;
    text-align: center;
    padding: 15px, 10px;
  }
  