
nav {
    background-color: #7d1919;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 10px;
  }
 
  
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #f9e7cf;
  }
   .img-logo{
    height: 50px;
    width: 50px;
    border-radius: 60px;
   }

   .name-logo {
    margin: 0%;
    display: none;
   }

   .name-logo img {
       margin: 0%;
      display: flex;
      width: 600px;
      height: 300PX;
      
       

   }
  
  .nav-links {
    display: flex;
    gap: 20px; /*espacio entre elementos  hijos */
  }
  
  .nav-links a {
    color: #f9e7cf;
    text-decoration: none;
    transition: all 300ms ease;
  }
   
  .nav-links a:hover{
    color: #ba3737;
  }
  .eslogan { 
       font-family: "Bebas Neue", sans-serif;
       align-items: center;
       font-size: 30px;
       justify-content: center;
       display: flex;
       margin-top: 20px;
       margin-bottom: 0%;
       

  }

  .principal { 
    display: flex;
    justify-content: left;
    width: 300px;
    height: 300px;
    margin: 80px;
    gap: 80px;
    margin-top: 20px;
    margin-bottom: 13rem;
    

  }

  .best-seller  img {
    width: 300px;
    object-fit: contain;
    margin: 0%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #ba3737;
    
  }

  
.pie_de_pagina {
  width: 100%;
  background-color: #7d1919;
  color:#fff
}

.pie_de_pagina .caja_1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 45px 0px;
}


.pie_de_pagina .caja_1 .box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

 .pie_de_pagina .caja_1 .box  img {
  width: 150px;
}
.caja_1 .box:first-child {
  align-items: flex-start;
  text-align: left;
}
.caja_1 .box:nth-child(2){
  align-items: center;
  text-align: center;
}
.caja_1.box:last-child {
  align-items: flex-end;
  text-align: right;
}

.caja_1 .red_social a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  margin-right: 10px;
  background-color: #ba3737;
  text-align: center;
  transition: all 300ms ease;

}

.caja_1 .red_social a:hover{
  color: #ec6089 ;
}

.caja_2 {
  background-color: #ba3737;
  text-align: center;
  padding: 15px, 10px;
}




